@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="w_tag">Welcome</h1>
    <div>
        <ul>
            <li>Mehedi Hasan</li>
            <li>Dipjoy Sorker</li>
            <li>Mofassirul Alam Tarek</li>
            <li>Roshida Akter</li>
            <li>Afroja Hoque</li>
        </ul>
    </div>
</div>
